<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.BizPurchaseItemMapper">
    
    <select id="selectByOrderId" resultType="com.wms.entity.BizPurchaseItem">
        SELECT i.*, g.goods_code, g.goods_name, g.unit
        FROM biz_purchase_item i
        INNER JOIN biz_goods g ON i.goods_id = g.id
        WHERE i.order_id = #{orderId}
    </select>
</mapper>
