<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.SysUserMapper">
    
    <select id="selectUserPage" resultType="com.wms.entity.SysUser">
        SELECT u.*, d.dept_name
        FROM sys_user u
        LEFT JOIN sys_dept d ON u.dept_id = d.id
        WHERE u.deleted = 0
        <if test="username != null and username != ''">
            AND u.username LIKE CONCAT('%', #{username}, '%')
        </if>
        <if test="realName != null and realName != ''">
            AND u.real_name LIKE CONCAT('%', #{realName}, '%')
        </if>
        <if test="deptId != null">
            AND u.dept_id = #{deptId}
        </if>
        ORDER BY u.create_time DESC
    </select>
    
    <select id="selectUserById" resultType="com.wms.entity.SysUser">
        SELECT u.*, d.dept_name
        FROM sys_user u
        LEFT JOIN sys_dept d ON u.dept_id = d.id
        WHERE u.id = #{id} AND u.deleted = 0
    </select>
</mapper>
